<div class = 'otherPages'> 

<h1 class = 'pageIntro'> DESTINATIONS </h1>
<p class = 'pageDescription'> Here is a list of awesome places to go kayaking and backpacking! </p>

<div class = 'container'> 
<div class="col-sm-7 col-sm-offset-1">
<form method = 'GET' action = ''> 
<div class="col-sm-6"> 
 Destination type (kayaking or backpacking):<input type = 'text' name = 'typeFiltered'> 
 </div> 
 <div class="col-sm-12">
 	<input type = 'submit' value = 'Filter'>
  </div> 
</form>
</div> 
</div> 






<div class = 'thisForm'> 
<div class = 'container'> 
<div class="col-sm-7 col-sm-offset-1">
<form method = 'POST' class="submit-form" name="submit-form" action = '/addDestination'>
<div class="row">
<div class="col-sm-6"> 
Location:        <input type = 'text'  id = "destinationLocation" name = 'destinationLocation'> 
</div>

<div class="col-sm-6">
Description: <input type = 'text' id = 'destinationDescription' name = 'destinationDescription'>
</div>
<div class="col-sm-12">
URL:         <input type = 'text' id = 'destinationUrl' name = 'destinationUrl'> 
</div>
<div class="col-sm-12">
<input type = 'submit' id = 'destinationSubmit' value = 'Add Destination'> 
</div>
</div>
</form>
</div>
</div>
</div>



{{#each destinationList}}

{{#each places}}
<p>{{this.location}}</p>
<p> {{this.description}} </p>
<img src = {{this.url}} style="width:168px;height:128px;"> 

<p> {{this.type}} </p>



{{/each}}
{{/each}}

</div> 

