<div class = 'otherPages'> 

<h1 class = 'pageIntro'> DESTINATIONS </h1>
<p class = 'pageDescription'> Here is a list of awesome places to go kayaking and backpacking! </p>
<p id = 'monthDestination'><a href = '#mapSection' Click here for the destination of the month! ></a></p> 

<div class = 'container'> 
<div class="col-sm-7 col-sm-offset-1">
<form method = 'GET' action = ''> 
<div class="col-sm-6"> 
 Destination type (kayaking or backpacking):<input type = 'text' name = 'typeFiltered'> 
 </div> 
 <div class="col-sm-12">
 	<input type = 'submit' value = 'Filter'>
  </div> 
</form>
</div> 
</div> 

<br> 
<br> 
<br>


<div class = 'thisForm'> 
<div class = 'container'> 
<div class="col-sm-7 col-sm-offset-1">
<form method = 'POST' class="submit-form" name="submit-form" action = '/addDestination'>
<div class="row">
<div class="col-sm-6"> 
Location:        <input type = 'text'  id = "destinationLocation" name = 'destinationLocation'> 
</div>

<div class="col-sm-6">
Description: <input type = 'text' id = 'destinationDescription' name = 'destinationDescription'>
</div>
<div class="col-sm-12">
URL:         <input type = 'text' id = 'destinationUrl' name = 'destinationUrl'> 
</div>
<div class="col-sm-12">
<input type = 'submit' id = 'destinationSubmit' value = 'Add Destination'> 
</div>
</div>
</form>
</div>
</div>
</div>


<p id = "error-message-destination"> </p>

<div class = 'items'> 
{{#each destinationList}}

{{#each places}}
<div class = 'eachItem'> 
<p> {{this.type}} {{this.location}}  </p>
<img src = {{this.url}} style="width:168px;height:128px;"> 
<p> {{this.description}} </p>
{{/each}}
</div>
{{/each}}
</div> 
</div> 

<section id = 'mapSection'> 
<div id="map"> </div> 
<h4> Our destination of the month is SOMEWHERE! <h4>
</section> 


<script type = "text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAu9yIgp42aMJ_JvMCXOcHC87oXlyBJCP0"></script>
<script type="text/javascript" src="../js/externalDestination.js"></script>    <!-- form validation-->











