<div class = 'otherPages'> 

<h1 class = 'pageIntro'> DESTINATIONS </h1>

<form method = 'GET' action = ''> 
 Destination type (kayaking or backpacking):<input type = 'text' name = 'typeFiltered'> 
 	<input type = 'submit' value = 'Filter'> 
</form>




<h1> HELLO WECOME TO DESTINATIONS PAGE </h1>

<form method = 'POST' class="submit-form" name="submit-form" action = '/addDestination'> 
Location: <input type = 'text' name = 'destinationLocation'> 
Description: <input type = 'text' name = 'destinationDescription'>
URL: <input type = 'text' name = 'destinationUrl'> 
(Kayaking or Backpacking): <input type = 'text' name = 'destinationType'> 
<input type = 'submit' value = 'Add Kayak Item'> 
</form>

{{#each destinationList}}

{{#each places}}
<p>{{this.location}}</p>
<p> {{this.description}} </p>
<img src = {{this.url}} style="width:168px;height:128px;"> 

<p> {{this.type}} </p>



{{/each}}
{{/each}}

</div> 

