

<!-- OUR WORKS -->
	<section id="our-works">
	<h2> THIS IS EQUIPMENT </h2>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1> Equipment Lists </h1>
						<span class="st-border"></span>
					</div>
				</div>

				<div class="portfolio-wrapper" >
					<div class="col-md-12">
						
					
						<ul class="filter">  			
							
							<li> Sea Kayaking</li>
							<li> Backpacking </li>
							<li> IDK LIST </li>
							
							
						</ul>
					</div>

					
					
					<div class="portfolio-items">
						
						<div class="col-md-4 col-sm-6 work-grid wordpress graphic">
							<div class="portfolio-content">
								<img class="img-responsive" src="../images/works/alaska6.JPG" alt="">
								<div class="portfolio-overlay">
									<a href="../images/works/portfolio-1.jpg"><i class="fa fa-camera-retro"></i></a>
									<h5> Sea Kayaking </h5>
									<p> Equipment List </p>
								</div>
							</div>	
							<p> THIS IS THE LIST </p>
						</div>
						
						<div class="col-md-4 col-sm-6 work-grid html php bootstrap">
							<div class="portfolio-content">
								<img class="img-responsive" src="../images/works/nature4.JPG" alt="">
								<div class="portfolio-overlay">
									<a href="images/works/portfolio-2.jpg"><i class="fa fa-camera-retro"></i></a>
									<h5> Backpacking </h5>
									<p> Equipment List </p>
								</div>

							</div>	
							<p> THIS IS THE LIST </p>
						</div>
						
						<div class="col-md-4 col-sm-6 work-grid wordpress graphic">
							<div class="portfolio-content">
								<img class="img-responsive" src="../images/works/nature2.JPG" alt="">
								<div class="portfolio-overlay">
									<a href="images/works/portfolio-3.jpg"><i class="fa fa-camera-retro"></i></a>
									<h5> IDK WHAT THIS LIST WILL BE  </h5>
									<p>  </p>
								</div>
							</div>	
							<p> THIS IS THE LIST </p>
						</div>
						
						
						
					</div>				
				</div>

			</div>
		</div>
	</section>
	<!-- /OUR WORKS -->

