

<!-- SLIDER -->
	  <section id="slider">

		<div id="home-carousel" class="carousel slide" data-ride="carousel">			
			<div class="carousel-inner">
				<div class="item active" style="background-image: url(../images/slider/alaska2.JPG)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h1>Sea Kayaking </h1>
								<h2> Paddle Your Worries Away  </h2>
							</div>
						</div>
					</div>					
				</div>
				
				<div class="item" style="background-image: url(../images/slider/nols3.JPG)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h1> Backpacking</h1>
								<h2> Walk It Off </h2>
							</div>
						</div>
					</div>					
				</div>
				<div class="item" style="background-image: url(../images/slider/nols1.JPG)">
					<div class="carousel-caption container">
						<div class="row">
							<div class="col-sm-7">
								<h1> Get Outside </h1>
								<h2> The World Is Waiting For You </h2>
							</div>
						</div>
					</div>					
				</div>
				
				<a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
			</div>		
		</div> 

    </section>  
	<!-- /SLIDER -->

